/* New Task modal styles */

.task-form{
  padding: 10px;
  text-align: left;
  position: relative;
  width: 232px;
  height: fit-content;
  margin: 10px;
}

.task-form__input{
  width: 212px;
}
.task-form__input-textarea{
  width: 212px;
  height: 80px;
}
.fieldset-checkbox{
  display: flex;
  padding: 0;
  justify-content: space-between;
  border: none;
}
.task-form__item{
  margin: 5px;
}

.fieldset-buttons{
  border: none;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.fieldset-buttons__button{
  position: relative;
  border: none;
  border-radius: 5px;
  min-width: 44px;
  min-height: 22px;
  margin: 0 auto;
}

/* New list modal styles */

.list-form{
  margin: 10px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 232px;
  height: fit-content;
}
.list-form__item{
  margin: 5px;
}
.list-form__label{
  width: fit-content;
}
.list-form__input{
  width: 222px;
}