/* Principal styles */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #db4c3f;
  color: white;
}
.main-menu{
  position: absolute;
  top: 2px;
  left: 2px;
}
.main-menu__open{
  border: none;
  background-color:  #db4c3f;
}
.filter-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filter-icon{
  position: relative;
  margin-top: 6px;
}
.nav{
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #fafafa;
  padding: 5px 20px;
  left: -100%;
  transition: all .5s;
}
.nav-list{
  display: flex;
  flex-direction: column;
}
.nav-list__button{
  margin: 2px;
  color: black;
  padding: 3px;
  min-width: 44px;
  height: 25px;
  background-color: #fafafa;
  border: none;
  text-align: left;
}
.nav-list__hr{
  width: 80px;
}
.custom-lists{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-lists__title{
  margin: 0;
  text-align: center;
}
.custom-lists__button{
  position: relative;
  margin: 5px auto;
}
.lists-content{
  background-color: #fafafa;
}
.bx-message-square-add{
  background-color: transparent;
  border: none;
  width: 80%;
}
.new--task {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fafafa;
  border: 2px solid #db4c3f;
}
.main{
  min-height: 100%;
  min-width: 60%;
}
.bxs-add-to-queue {
  font-size: 20px;
}

/* Task Display styles*/
.display-task{
  padding: 20px 0px 0px 40px;
  width: 100%;
  min-width: 300px;
}
.display-task__title{
  width: fit-content;
  margin: 0;
}

.task-item{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.task-item__button{
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.task-item__button-completed{
  border-radius: 50%;
  border: 1px solid black;
}
.task-item__button-important{
  border: none;
  font-size: 20px;
}
.task-item__title{
  text-align: left;
  width: 70%;
}

/* Modal styles */

.container-display-modal{
  background-color: rgba(184, 184, 184, 0.7);
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.display-modal{
  background-color: #db4c3f;
  width: fit-content;
  min-height: fit-content;
  padding-bottom: 10px;
  position: relative;
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.display-modal__button{
  width: 44px;
  height: 44px;
  position: absolute;
	right: -12px;
  cursor: pointer;
  top: -10px;
  background-color: transparent;
  border: none;
}
.modal-title{
  text-align: center;
  position: relative;
  margin: 0;
}

/* Show and hidde styles */

.seleccted {
  background-color: #db4c3f6c;
  border-radius: 5px;
  border: 2px solid #db4c3f;
}
.show {
  left: 0;
}
.hidde{
  display: none;
}

/* Mediaquery styles */

@media screen and (min-width: 780px) {
  .nav{
    left: 0;
    position: relative;
    float: left;
    min-height: 100vh;
  }
  .main-menu{
    display: none;
  }
  .main{
    position: relative;
    float: left;
  }
  .custom-lists{
    flex-direction: row;
  }
  .custom-lists__button{
    width: 44px;
  }
}